<div id="student-state-counts" hx-swap-oob="true">
    <span class="pill pill-attention">{{ _("Requires attention") }} {{ requires_attention_count }}</span>
    <span class="pill pill-active">{{ _("In exam") }} {{ in_exam_count }}</span>
    <span class="pill pill-finished">{{ _("Finished") }} {{ finished_count }}</span>
</div>
