{% autoescape true %}
<table id="student-list-table"
       class="striped"
       hx-get="?sort_by={{ sort_by }}&order={{ order_now }}"
       hx-trigger="student-list-update from:body throttle:2s"
       hx-target="this"
       hx-swap="outerHTML"
       hx-include="#filters">
    <thead>
        <tr>
        {% for column_key, column_label, is_sortable in columns %}
        {% if is_sortable %}
            <th hx-get="?sort_by={{ column_key }}&order={{ order_next if sort_by == column_key else 'asc' }}"
                hx-target="#student-list-table"
                hx-swap="outerHTML"
                hx-include="#filters"
                style="cursor: pointer;">
                {{ column_label }}
                {% if sort_by == column_key %}{{ '▲' if order_now == 'asc' else '▼' }}{% endif %}
            </th>
        {% else %}
            <th>{{ column_label }}</th>
        {% endif %}
        {% endfor %}
        </tr>
    </thead>
    <tbody id="student-list-table-body">
        {% for student_list_item in student_list_items %}
        <tr>
            <td>{{ student_list_item.name }}</td>
            <td>{{ student_list_item.birthday | localize_date(locale) }}</td>
            <td>{{ (student_list_item.flags | translate_labels(flag_labels)) if student_list_item.state == "flagged" else state_labels[student_list_item.state] }}</td>
            <td>{{ '-' if not student_list_item.last_changed_at else student_list_item.last_changed_at | localize_datetime(locale) }}</td>
            <td>{{ '-' if not student_list_item.exam_title else student_list_item.exam_title }}</td>
            <td>{% if can_end_exam and student_list_item.state != 'finished' %}<button type="button" class="end-exam-button" data-name="{{ student_list_item.name }}" data-session-uuid="{{ student_list_item.session_uuid }}" data-student-uuid="{{ student_list_item.student_uuid }}">{{ _("End exam") }}</button>{% else %}-{% endif %}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="{{ columns | length }}" style="text-align: center;">{% if name_birthday_filter %}{{ _("No students matching '%(query)s'", query=name_birthday_filter) }}{% else %}{{ _("No students") }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endautoescape %}
