{% extends "_base.html.j2" %}

{% block title %}{{ _("Invigilator's view") }}{% endblock %}

{% block extra_scripts %}
    <script src="/static/end_exam_confirm.js"></script>
    <script src="/static/allow_audio_replay_confirm.js"></script>
{% endblock %}

{% block modals %}
    {% if can_end_exam %}
    <div id="end-exam-confirm-overlay" class="modal-overlay">
        <div class="modal-overlay-content">
            <p>{% trans %}Really end exam for <strong id="end-exam-confirm-name"></strong>?{% endtrans %}</p>
            <input type="hidden" id="end-exam-confirm-session-uuid" name="session_uuid">
            <input type="hidden" id="end-exam-confirm-student-uuid" name="student_uuid">
            <div class="modal-overlay-actions">
                <button class="end-exam-confirm-yes"
                        hx-post="/actions/end-exam"
                        hx-include="#end-exam-confirm-session-uuid, #end-exam-confirm-student-uuid"
                        hx-swap="none">{{ _("Yes") }}</button>
                <button type="button" class="end-exam-confirm-no">{{ _("No") }}</button>
            </div>
        </div>
    </div>
    {% endif %}
    {% if can_allow_audio_replay %}
    <div id="allow-audio-replay-confirm-overlay" class="modal-overlay">
        <div class="modal-overlay-content">
            <p>{% trans %}Allow student <strong id="allow-audio-replay-confirm-name"></strong> to replay audio <strong id="allow-audio-replay-confirm-last-audio"></strong> in exam <strong id="allow-audio-replay-confirm-exam-title"></strong>?{% endtrans %}</p>
            <input type="hidden" id="allow-audio-replay-confirm-student-uuid" name="student_uuid">
            <div class="modal-overlay-actions">
                <button class="allow-audio-replay-confirm-yes"
                        hx-post="/actions/allow-audio-replay"
                        hx-include="#allow-audio-replay-confirm-student-uuid"
                        hx-swap="none">{{ _("Allow") }}</button>
                <button type="button" class="allow-audio-replay-confirm-no">{{ _("Cancel") }}</button>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block content %}

    <h2>{{ _("Students") }}</h2>

    {% include "partials/student_state_counts.html.j2" %}

    <div id="filters">
        <input type="text"
               id="name_birthday_filter"
               name="name_birthday_filter"
               value="{{ name_birthday_filter }}"
               placeholder="{{ _('Filter by student name or birthday...') }}"
               hx-get=""
               hx-trigger="keyup changed delay:350ms"
               hx-target="#student-list-table"
               hx-swap="outerHTML"
               hx-include="#filters">
    </div>

    {% include "partials/student_list_table.html.j2" %}

{% endblock %}
